<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="appurl" value="http://www.google.com" />
		<parameter name="grid" value="http://localhost:4444" />
		<parameter name="browser" value="chrome" />
		<packages>
			<package name="script" />
		</packages>
	</test> <!-- Test -->
</suite> <!--
Suite -->
